.TitlePSuccess {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  margin-left: 310px;
  font-size: 60px;
  color: #fff;
  z-index: 1;
}
.background_big_pay_success {
  margin-left: 24px;
  position: relative;
}
.bg_baobocPaySuccess {
  position: relative;
}
.bgLevel3PaySuccess {
  background-color: rgba(253, 232, 179, 1);
  width: 83%;
  height: 341px;
  margin-left: 138px;
  margin-top: -750px;
  border-radius: 18px;
  z-index: 1;
  position: absolute;
}
.bgLevel2PaySuccess {
  background-color: rgba(255, 246, 212, 1);
  width: 98.3%;
  height: 322px;
  margin-top: 10px;
  margin-left: 10px;
  border: dashed 3px rgba(255, 180, 137, 1);
  border-radius: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 0;
}
.ImagePaySuccess {
  z-index: 3;
  margin-left: -20px;
  margin-top: -390px;
  position: absolute;
}
.H5PaySuccess {
  margin-left: 10px;
  font-weight: 900;
  margin-top: -10px;
}
.btnPaySuccessDownload {
  color: #fff;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.68px;
  background-color: red;
  border: none;
  padding: 0px 30px 5px;
  position: relative;
  z-index: 1;
  margin: 0px 20px 0px 0px;
}
.btnPaySuccessMail {
  color: #fff;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.68px;
  background-color: red;
  border: none;
  padding: 0px 30px 5px;
  position: relative;
  z-index: 1;
}
.BgLevel4BottomPaySuccess {
  background-color: rgba(255, 202, 123, 1);
  height: 50px;
  width: 83%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 138px;
  margin-top: -449px;
  position: absolute;
}
.btn-container-paySuccess {
  margin: 130px 0px 0px -40px;
}
.btn-container-paySuccess-right{
  margin: 130px 0px 0px -1150px;
}
.btnRightPaySuccess {
  background-color: rgba(255, 222, 50, 1);
  border: none;
  background-size: contain;
  z-index: 1;
  margin-left: 1150px;
}
.btnLeftPaySuccess {
  background-color: rgba(255, 222, 50, 1);
  border: none;
  background-size: contain;
  z-index: 1;
  margin-left: 70px;
}
.ArrowLeftPaySuccess {
  margin: -3px 0px 0px -18px;
}
.ArrowRightPaySuccess {
  margin: -3px 0px 0px -18px;
}
.BtnArrowRightBottomPaySuccess {
  position: absolute;
  width: 100%;
  height: 16px;
  margin: -8px 0px 0px 1150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(#ffbe55, #febe51);
  box-shadow: 0px 2.5px 1px 0px rgba(178, 91, 11, 0.5);
}
.BtnArrowLeftBottomPaySuccess {
  position: absolute;
  width: 60%;
  height: 16px;
  margin: -8px 0px 0px 70px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(#ffbe55, #febe51);
  box-shadow: 0px 2.5px 1px 0px rgba(178, 91, 11, 0.5);
}
